<div class="container">
  <h1>All boards</h1>

  <% @boards.each do |board| %>
    <%= render 'board', board: board %>
  <% end %>

  <div class="add_new_bord">
    <%= link_to new_board_path do %>
    <p>+Add new board</p>
    <% end %>
  </div>
</div>