<div class="container">
  <h1>All boards</h1>
  <div class="card">
   <div class="card_title">Board title</div>
   <div class="card_content">board content</div>
   <div class="card_icon">
    <%= image_tag 'Oval.png'%>
   </div>
    <p>kazuki0825</p>
    <p>2020/4/1</p>
   <div class="card_detail">
    <%= image_tag 'Combined Shape'%>
   </div>
  </div>
  <div class="card">
    <div class="card_title">Board title</div>
   <div class="card_content">board content</div>
  </div>
  <div class="card">
    <div class="card_title">Board title</div>
   <div class="card_content">board content</div>
  </div>
  <div class="add_new_bord">
    <p>+Add new board</p>
  </div>
</div>